@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

$primary: #00000099;

body ,html {
    background: url(".././src/assets/images/recipefinderbackground2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    font-family: 'Nunito', 'sans-serif';
    font-size: 18px;
}

.img-logo{
    display: inline-block;
    float: none;
    clear: both;
    margin: 0;
    width: auto;
    height: auto;
}

.container {
    width: 100%;
    margin: 0 auto;
}

header {
    background: $primary;
    padding: 1em 0;

    a {
        color: white;
        text-decoration: none;
    }
    a.logo {
        font-weight: bold;
    }

    nav {
        float: right;

        ul {
            list-style-type: none;
            margin: 0;
            display: flex;

            li a {
                padding: 1em;

                &:hover {
                    background: darken($primary, 10%);
                }
            }
        }
    }
}

h1 {
    margin-top: 2em;
}