
    <div class="col" style="margin-top: 20%">
        <h1>Find Recipes For Your Favourite Foods</h1>
        <div class="input-group input-group-lg search-bar search-button" style="margin-top: 1rem;">
            <input type="text" class="form-control" placeholder="Enter Food" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
            <div class="input-group-append">
                <button routerLink="/recipelist" class="input-group-text search-button" id="inputGroup-sizing-lg">
                    Find Recipes
                </button>
            </div>
        </div>
    </div>


      
        

